@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E0F1E8;
    height: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Karla", sans-serif;
}

.success-inbox {
    width: clamp(327px, 100% - 48px, 450px);
    background-color: #2A4144;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    position: fixed;
    top: -129px;
    transition: top 0.7s ease;
}

.success-inbox div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.success-inbox div span {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 150%; 
}

.success-inbox p {
    color: #E0F1E8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.container {
    background-color: #FFF;
    width: 343px;
    height: 1070px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 16px;
}

.container .input-boxes {
    margin-top: 32px;
}

.container .input-boxes .input  {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #2A4144;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    margin-top: 24px;
}

.container .input-boxes .input input {
    width: calc(100% - 48px);
    height: 51px;
    border-radius: 8px;
    padding: 0 24px;
    border: 1px solid #86A2A5;
}

.container .input-boxes .input input:active, .container .input-boxes .input input:focus, .container .input-boxes .input input:hover {
    border: 1px solid #0C7D69;
    outline: none;
}

.container .input-boxes .queryType {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    gap: 16px;
}

.container .input-boxes .queryType .radios {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container .input-boxes .queryType span {
    color: #2A4144;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.container .input-boxes .queryType .radio-box {
    display: flex;
    align-items: center;
    gap: 14px;
    border: 1px solid #86A2A5;
    border-radius: 8px;
    height: 51px;
    width: 100%;
    cursor: pointer;
    padding: 0 26px;
    box-sizing: border-box;
    background-color: #FFF;
}

.container .input-boxes .queryType .radio-box:hover {
    border: 1px solid #0C7D69
}


input[type="radio"] {
    appearance: none;  
    -webkit-appearance: none; 
    -moz-appearance: none; 
    
    width: 20px;
    height: 20px;
    border: 2px solid #86A2A5;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}


input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    background-color: #0C7D69;
    border-radius: 50%;
}

input[type="radio"]:hover {
    background-color: white; 
}

input[type="radio"]:checked {
    background-color: white; 
    border-color: #0C7D69;   
    outline: none;
    box-shadow: none;
}


/* .container .input-boxes .queryType .radio-box input[type="radio"] {
    width: 16px;
    height: 16px;
    accent-color: #0C7D69;
    cursor: pointer;
} */




.container .input-boxes .queryType .radio-box .text {
    font-weight: 500;
    color: #3a4a4a;
}

.container .input-boxes .message {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container .input-boxes .message span{
    color: var(--color-grey-900, #2A4144);
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}

.container .input-boxes .message textarea {
    resize: none;
    width: 295px;
    height: 240px;
    padding: 12px 24px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #86A2A5;
    font-family: "Karla", sans-serif;
}

.container .input-boxes .message textarea:focus {
    outline: none;
    border: 1px solid #0C7D69
}

.container .input-boxes .checkbox {
    margin-top: 40px;
    display: flex;
    gap: 19px;
    align-items: center;
}

.container .input-boxes .checkbox p {
    color: #2A4144;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
}

/* .container .input-boxes .checkbox input {
    width: 20px;
    height: 20px;
    border: 1px solid #86A2A5;  
    border-radius: 4px;     
    accent-color: #0C7D69;      
    cursor: pointer;
}

.container .input-boxes .checkbox input:hover {
    accent-color: #0C7D69;    
} */


.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 18px;
    height: 18px;
    border: 2px solid #86A2A5;
    border-radius: 2px; 
    background-color: white;
    position: relative;
    cursor: pointer;
    
}


.checkbox input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid rgb(255, 255, 255);  
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}



.checkbox input[type="checkbox"]:checked {
    background-color: #0C7D69;
    outline: none;
    border: 2px solid #0C7D69;
    box-shadow: none;
}



.container .input-boxes button {
    margin-top: 40px;
    width: 100%;
    height: 59px;
    border-radius: 8px;
    background-color: #0C7D69;
    border: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 150%;
}

.container .input-boxes button:hover {
    cursor: pointer;
    background-color: #0b6958;
} 


.error {
    margin-top: 8px;
    color: #D73C3C;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%; 
    display: none;
}

@media screen and (min-width: 768px){
    body {
        height: 1000px;
    }

    .container {
        width: 690px;
        height: 800px;
        padding: 40px;
    }

    .container .input-boxes {
        margin-top: 32px;
    }

    .container .input-boxes .name-boxes {
        display: flex;
        gap: 16px;
    }

    .container .input-boxes .name-boxes .input {
        width: 297px;
        margin-top: 0px;
    }

    .container .input-boxes .queryType .radios {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .container .input-boxes .message textarea {
        width: 100%;
        height: 132px;
    }
}

@media screen and (min-width: 900px) {
    body {
        height: 940px;
    }

    .container {
        width: 736px;
        height: 773px;
        padding: 40px;
    }

    .container .input-boxes .name-boxes .input {
        width: 320px;
        margin-top: 0px;
    }

    .container .input-boxes .queryType .radios {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .container .input-boxes .message textarea {
        width: 100%;
        height: 105px;
    }
}